.navbar{
  text-decoration-color: black;
}

.navbar-toggler-icon{
  background-color: black;
}
.button{
  background: rgb(16, 153, 199);
  color: whitesmoke;
  float: right
}
button{
  background:rgb(13, 160, 209);
  color: whitesmoke;
  
}
.foot{
  background: royalblue;
  height:100%;
  
}
header{
   background: royalblue;
   font-size: 4vh;
}

.navbar-brand img{
  height: 70px;
  width: 70px;
}

.carousel-control-prev-icon{
  margin-top: 100px;
}

.carousel-control-next-icon{
  margin-top: 100px;
}
.col_head{
  background: royalblue;
}
.nav-item{
  background: royalblue;
  text-decoration-color: black;
}
.toupper{
  text-transform: uppercase;
}
.tablink{
  width:70px;
  height:50px;
}

footer a{
  color: blue;
  font-size: 30px;
}
footer ul{
  list-style-type: none;
  
}
.foot-content{
  margin-left: 70px;
}