.navbar{
  text-decoration-color: black;
}

.navbar-toggler-icon{
  background-color: black;
}
.button{
  background: rgb(16, 153, 199);
  color: whitesmoke;
  float: right
}
button{
  background:rgb(13, 160, 209);
  color: whitesmoke;
  
}
.foot{
  background: burlywood;
  height: 20vh;
}
.navbar{
   background: burlywood;
   height: 20vh;
   font-size: 4vh;
}

.navbar-brand img{
  height: 70px;
  width: 70px;
}

.carousel-control-prev-icon{
  margin-top: 100px;
}

.carousel-control-next-icon{
  margin-top: 100px;
}
.col_head{
  background: rgb(95, 172, 129);
}
